#biography{
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    background-color: white;
}
#biography .container{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
#biography img{
    max-width: 100%;
    margin-right: 2em;
}
#biography .container h2, p{
    text-align: left;
}
#biography h2{
    font-size: 3.8vw;
    font-family: 'Roboto', sans-serif;
}
#biography p{
    font-size: 1.65vw;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 768px){ #biography img{ margin-right: 0; } }