@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
html, body {
    height: 100%;
    width: 100%;
}
#landing_page{
    position: relative;
    background: url(../images/landingPageImg.png) no-repeat 50% 50%;
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
}
#landing_page h1{
    font-size: 5em; 
    margin: 0 0 .2em 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#landing_page h2{
    font-size: 3.5em; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.landing_page_title{
    color: white;
    background: rgba(47, 48, 47, 0.6);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}